:root {
    --background-body: #181513;
    --background-wrapper: linear-gradient(135deg, #3b767e, #c7dfca);
    --text-btn: #3a7780;
    --background-btn: #c7dfca;
    --background-li-teat: #fff;
    --text-li: #000;
    --text-checked: #555;
    --text-emptyTask: rgb(167, 5, 5);
}

body {
    display: flex;
    justify-content: center;
    background: var(--background-body);
}

#wrapper {
    margin: 140px auto;
    padding: 50px;
    color: var(--background-li-teat);
    background: var(--background-wrapper);
    width: min(700px, 50%);
}

h1 {
    margin-bottom: 25px;
}

#task {
    padding: 0;
}

#task-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

#single-task {
    font-size: 18px;
    padding: 10px 15px;
    flex: 1;
}

#btn {
    font-size: 18px;
    color: var(--text-btn);
    background: var(--background-btn);
    padding: 10px 15px;
    cursor: pointer;
    border-color: var(--text-btn);
    font-weight: bold;
}

#btn:hover {
    color: var(--background-li-teat);
}

li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: var(--background-li-teat);
    color: var(--text-li);
    padding: 10px 15px;
    margin-bottom: 15px;
}

.task-title {
    font-size: 20px;
}

.button {
    font-size: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.textP {
    font-size: 25px;
    color: var(--text-emptyTask);
}

.checked {
    color: var(--text-checked);
    text-decoration: line-through;
}

.icon-img {
    pointer-events: none;
    width: 20px;
    height: 20px;
}