body {
    display: flex;
    justify-content: center;
    background: #b69290;
}

#wrapper {
    margin: 140px auto;
    padding: 50px;
    color: #fff;
    background: radial-gradient(#353a4a, #000);
    width: min(353px, 50%);
}

h1 {
    margin-bottom: 25px;
}

#task {
    padding: 0;
}

#task-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;   
}

#single-task {
    font-size: 18px;
    padding: 10px 15px;
    flex: 1;
}

#btn {
    font-size: 18px;
    background: #b69290;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
}

li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: #fff;
    color: #000;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.task-title {
    font-size: 18px;
}

.button {
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.btn-action {
    color: rgb(28, 25, 233);
}

.btn-action1 {
    color: green;
}

.btn-action2 {
    color: red;
}

.textP {
    font-size: 18px;
    color: red;
}

.checked{
    color: #555;
    text-decoration: line-through;
}

.editable{
    color: red;
}

.up {
    width: 1px;
    height: 13px;
    border-top: 1px solid red;
    border-right: 1px solid red;
    transform: rotate(-45deg);
    margin-right: 5px;
}

.down {
    width: 1px;
    height: 13px;
    border-top: 1px solid red;
    border-right: 1px solid red;
    transform: rotate(135deg);
}